**/credentials.json
**/.env
**/__pycache__/
**/.terraform/
*.tfstate*
*.log
deploy.zip
output/
!output/dashboard_stats.js
brain/
.gemini/
.agent/
venv/
.venv/
env/
node_modules/
.DS_Store
*.pyc

# Keepping Azure config files
# !host.json
# !.funcignore

# Igoring Docker/Migration files for now to keep the repo thin
Dockerfile
docker-compose.yml
README_MIGRATION.md
